<div class="container mt-5 card mb-3" style="max-width: 80vw">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="englishCard.image" class="img-fluid rounded-start" alt="   " />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{englishCard.word}}</h5>
        <p class="card-text">
          {{englishCard.meaning}}
        </p>
        <p class="card-text">
          {{englishCard.example}}
        </p>
        <p class="card-text">
            {{englishCard.type}}
        </p>
        <p class="card-text">
                {{englishCard.category}}
        </p>
      </div>
      <a [routerLink]="['/edit', englishCard.id]" class="btn btn-warning ms-1">Edit</a>
      <a (click)="deleteCard(englishCard.id)" class="btn btn-danger ms-1">Delete</a>
    </div>
  </div>
</div>
